<?xml version="1.0"?>
<config>
    <modules>
        <IssohSystems_Adminhtml>
            <version>0.1.0</version>
            <depends><Mage_Adminhtml /></depends>
        </IssohSystems_Adminhtml>
    </modules>
    <global>
        <helpers>
             <issohadmin>
                 <class>IssohSystems_Adminhtml_Helper</class>
             </issohadmin>
        </helpers>
        <blocks>
            <issohadmin>
                <class>IssohSystems_Adminhtml_Block</class>
            </issohadmin>
        </blocks>
        <models>
            <issohadmin>
                <class>IssohSystems_Adminhtml_Model</class>
            </issohadmin>
        </models>
    </global>
</config>
