<config>
    <modules>
        <IssohSystems_Faq>
            <version>0.1.1</version>
        </IssohSystems_Faq>
    </modules>
    <global>
        <helpers>
            <faq>
                <class>IssohSystems_Faq_Helper</class>
            </faq>
        </helpers>
        <blocks>
            <faq>
                <class>IssohSystems_Faq_Block</class>
            </faq>
        </blocks>
        <models>
            <faq>
               <class>IssohSystems_Faq_Model</class>
               <resourceModel>faq_resource</resourceModel>
            </faq>
            <faq_resource>
                <class>IssohSystems_Faq_Model_Resource</class>
                <entities>
                    <category>
                        <table>faq_category_entity</table>
                    </category>
                    <category_data>
                        <table>faq_category_data</table>
                    </category_data>
                    <entity>
                        <table>faq_entity</table>
                    </entity>
                    <data>
                        <table>faq_data</table>
                    </data>
                    <feedback>
                        <table>faq_feedback</table>
                    </feedback>
                </entities>
            </faq_resource>
        </models>
        <resources>
            <faq_setup>
                <setup>
                    <module>IssohSystems_Faq</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                  <use>core_setup</use>
                </connection>
            </faq_setup>
            <faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faq_write>
            <faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faq_read>
        </resources>
    </global>
    <frontend>
       <translate>
          <modules>
             <IssohSystems_Faq>
                <files>
                  <default>IssohSystems_Faq.csv</default>
                </files>
             </IssohSystems_Faq>
          </modules>
       </translate>
       <routers>
          <faq>
             <use>standard</use>
              <args>
                 <module>IssohSystems_Faq</module>
                 <frontName>faq</frontName>
              </args>
          </faq>
       </routers>
       <layout>
          <updates>
            <faq module="IssohSystems_Faq">
              <file>faq.xml</file>
            </faq>
         </updates>
      </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <faq before="Mage_Adminhtml">IssohSystems_Adminhtml</faq>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <faq>
                    <file>faq.xml</file>
                </faq>
            </updates>
        </layout>
        <translate>
          <modules>
             <IssohSystems_Faq>
                <files>
                  <default>IssohSystems_Faq.csv</default>
                </files>
             </IssohSystems_Faq>
          </modules>
       </translate>
    </adminhtml>

</config>